body {
    font-family: Arial;
    text-align: center;
    background-color: rgb(237, 236, 235);

    background-image:
    url(imagens/taça2026.png), 
    url(imagens/neymar.png);
    
    
     background-repeat: no-repeat, no-repeat;

    background-position: 
        left center,
        right center;

    background-size: 
        20%,
        20%;

    background-attachment: fixed, fixed;

    padding: 0 170px; 
}
    
h2{
   
    font-family: 'Times New Roman', Times, serif;   
}
table {
    border-collapse: collapse;
    margin: auto;
    width: 600px;
    table-layout: fixed;
    border-radius: 100%;
    
}
td {
    border: 1px solid rgb(112, 133, 18);
    padding: 15px;
    vertical-align: middle;
}

td:nth-child(1),
td:nth-child(3) {
    width: 70%;
}

td:nth-child(2),
td:nth-child(4) {
    width: 30%;
    text-align: center;
}


table p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0;

}


table img {
    width: 25px;
    height: 18px;
}


td:nth-child(2),
td:nth-child(4) {
    text-align: center;
}
table{
    margin-bottom: 30px;
}
.imgtop{
    max-width: 100%;
    height: auto;
}
summary {
  list-style: none;
  cursor: pointer;

  display: flex;
  justify-content: center; /* CENTRALIZA */
  align-items: center;
  gap: 10px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  display: inline-block; /* IMPORTANTE */

  width: 100px;   /* tamanho ideal */
  height: 100px;

  background-image: url("imagens/bola.png");
  background-size: cover;
  background-repeat: no-repeat;

  transition: transform 0.3s;
}

details[open] summary::before {
  transform: rotate(90deg);
}